<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Singleton : @ViewBag.Singleton<br />
    Singleton2 : @ViewBag.Singleton2<br />

    <hr />
    
    Transient : @ViewBag.Transient<br />
    Transient2 : @ViewBag.Transient2<br />

    <hr />
    
    Scoped : @ViewBag.Scoped<br />
    Scoped2 : @ViewBag.Scoped2<br />
</body>
</html>
